<!--添加栏目-->
<div class="dialog_content">
	<form id="info_form" action="{:U('item_condition/add')}" method="post">
	<table width="100%" class="table_form">
      <tr>
            <th width="100">所属分类:</th>
            <td>
            <select name="cate_id">
            <volist name="cate" id="val">
            <option value="{$val.id}">{$val.name}</option>
            </volist>
            </select>
            </td>
        </tr>
		<tr>
			<th>左区间 :</th>
			<td>
				<input type="text" name="min_value" id="J_name" class="input-text" size="10">
		        <input type="hidden" value="" name="fcolor" id="J_color">
		        <a href="javascript:;" class="color_picker_btn"><img class="J_color_picker" data-it="J_name" data-ic="J_color" src="__STATIC__/images/color.png"></a>
			</td>
		</tr>
        <tr>
			<th>右区间 :</th>
			<td>
				<input type="text" name="max_value" id="J_right_name" class="input-text" size="10">
		        <input type="hidden" value="" name="fcolor" id="J_color">
		        <a href="javascript:;" class="color_picker_btn"><img class="J_color_picker" data-it="J_name" data-ic="J_color" src="__STATIC__/images/color.png"></a>
			</td>
		</tr>
		<tr>
			<th>状态 :</th>
            <td>
                <label><input type="radio" name="status" value="0" > 启用</label>&nbsp;&nbsp;
                <label><input type="radio" name="status" value="1" checked> 未启用</label>
            </td>
        </tr>
	</table>
	</form>
</div>
<script src="__STATIC__/js/jquery/plugins/colorpicker.js"></script>
<script src="__STATIC__/js/fileuploader.js"></script>
<script>
$(function(){
	$.formValidator.initConfig({formid:"info_form",autotip:true});
	$('#J_name').formValidator({onshow:lang.please_input+'左区间值',onfocus:lang.please_input+'左区间值'}).inputValidator({min:1,onerror:lang.please_input+'左区间值'});
	$('#J_right_name').formValidator({onshow:lang.please_input+'右区间值',onfocus:lang.please_input+'右区间值'}).inputValidator({min:1,onerror:lang.please_input+'右区间值'});
	
	$('#info_form').ajaxForm({success:complate, dataType:'json'});
	function complate(result){
		if(result.status == 1){
			$.dialog.get(result.dialog).close();
			$.pinphp.tip({content:result.msg});
			window.location.reload();
		} else {
			$.pinphp.tip({content:result.msg, icon:'alert'});
		}
	}

	//分类联动
	$('.J_cate_select').cate_select();

	//颜色选择器
	$('.J_color_picker').colorpicker();

});
</script>