<include file="Public:header" />
<!--角色管理-->
<style>
	.explain_col{ overflow: hidden; padding: 8px;}
	.explain_col li{ float: left;}

</style>
<div class="pad_lr_10">
<form name="searchform" method="post" action="{:u('Recharge/index')}">
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
            <tr>
                <td>                
                <div class="explain_col">
                <ul style="overflow: hidden;">
                <li  style="width:22%"> 订单编号：
                	<input name="order_sn" type="text" class="input-text" size="30" value="{$ser.order_sn}" />
                </li>
                <li>&nbsp;&nbsp;金 额：
                    <input name="amount" type="text" class="input-text" size="15" value="{$ser.amount}"  />
                </li>
                <li>&nbsp;&nbsp;用户ID：
                    <input name="id" type="text" class="input-text" size="10" value="{$ser.id}" /> 
                </li>
                </ul>
                <ul style="overflow: hidden; margin-top: 10px;">
                    <li>订单状态： 
                        <select name="status">
                        	<option value="-1">请选择</option>
                            <option value="1" <if condition="$ser.status eq 1">selected</if>>未支付</option>
                            <option value="2" <if condition="$ser.status eq 2">selected</if>>已支付</option>
                        </select>
                    </li>
                
                    <li>&nbsp;&nbsp;创建时间： 
                        <input type="text" name="time_start" id="time_start1" class="date" size="20" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$ser.time_start}">
                    至  <input type="text" name="time_end" id="time_end1" class="date" size="20" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$ser.time_end}">
                    </li>
                    
                    <li style="margin-left: 63px;">
                    	<input type="submit" name="search" class="btn" value="搜索" />
                    </li>	                   
                </ul>      
                </div>
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    <div class="J_tablelist table_list" data-acturi="{:U('recharge/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                <th>ID</th>
                <th>用户名</th>
                <th>用户ID</th>
      			<th>订单号</th>
                <th align="left">金额</th>
                <th align="left">支付方式</th>
                <th align="left">创建时间</th>
                <th align="left">更新时间</th>
                <th>{:L('status')}</th>
            </tr>
        </thead>
    	<tbody>
        	<volist name="list" id="val">
        	<tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$val.id}</td>
                <td align="center">{:user_name($val['member_id'])}</td>
                <td align="center">{$val['member_id']}</td>
                <td align="center">{$val.order_sn}</td>
                <td align="center">{$val.amount}</td>
                <td align="center"><if condition="$val.zf_type eq 1">微信<else />支付宝</if></td>
                <td align="center">{:date('Y-m-d H:i' ,$val['add_time'])}</td>
                <td align="center">{:date('Y-m-d H:i' ,$val['update_time'])}</td>
                <td align="center">
                    <switch name="val['status']">
                    	<case value="1">未支付</case>
                        <case value="2">已支付</case>
                        <case value="3">已取消</case>
                    </switch>
                </td>
                
            </tr>
            </volist>
    	</tbody>
    </table>
    </div>
    <div class="songkebor">
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
<script type="text/javascript" src="__PUBLIC_ADMIN__js/laydate.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__css/laydate.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC_ADMIN__css/laydate(1).css">
<script type="text/javascript">
!function(){
	laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
	laydate({elem: '#demo'});//绑定元素
}();

//日期范围限制
var start = {
    elem: '#start',
    format: 'YYYY-MM-DD',
    min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};

var end = {
    elem: '#end',
    format: 'YYYY-MM-DD',
    min: laydate.now(),
    max: '2099-06-16',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，充值开始日的最大日期
    }
};
laydate(start);
laydate(end);

//自定义日期格式
laydate({
    elem: '#test1',
    format: 'YYYY年MM月DD日',
    festival: true, //显示节日
    choose: function(datas){ //选择日期完毕的回调
        alert('得到：'+datas);
    }
});
//日期范围限定在昨天到明天
laydate({
    elem: '#hello3',
    min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
    max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
});
</script>
</body>
</html>