<div class="p10">
	<table width="100%" cellspacing="0" class="table_list">
		<thead>
			<tr>
				<th width="101" align="left"><span data-tdtype="order_by" data-field="id">提现时间</span></th>
				<th width="110" align="left"><span data-tdtype="order_by" data-field="product_id">提现金额(元)</span></th>
				<th width="101">开户银行</th>
				<th width="101">开户姓名</th>
				<th width="101">银行账号</th>
				<th width="101">提现状态</th>
				<th width="101">备注</th>
	
			</tr>
		</thead>
		<tbody>
			<tr>
				<td align="center">2017-08-24</td>
				<td align="center"><span class="highlight">2000</span></td>
				<td align="center">中国银行</td>
				<td align="center">张三</td>
				<td align="center">621661280000447287</td>
				<td align="center"><span class="green">成功</span></td>
				<td align="center">提现1-3天到账</td>
			</tr>
			<tr>
				<td align="center">2017-08-24</td>
				<td align="center"><span class="highlight">2000</span></td>
				<td align="center">中国银行</td>
				<td align="center">张三</td>
				<td align="center">621661280000447287</td>
				<td align="center"><span class="green">成功</span></td>
				<td align="center">提现1-3天到账</td>
			</tr>
			<tr>
				<td align="center">2017-08-24</td>
				<td align="center"><span class="highlight">1000</span></td>
				<td align="center">中国银行</td>
				<td align="center">张三</td>
				<td align="center">621661280000447287</td>
				<td align="center"><span class="green">成功</span></td>
				<td align="center">提现1-3天到账</td>
			</tr>
	</tbody>
	</table>
</div>