<div class="p10">
	<table width="100%" cellspacing="0" class="table_list">
		<thead>
			<tr>
				<th width="101" align="left"><span data-tdtype="order_by" data-field="id">订单编号</span></th>
				<th width="101">订单金额(元)</th>
				<th width="101">完成时间</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td align="center">10001010</td>
				<td align="center"><span class="highlight">1000</span></td>	
				<td align="center">2017-08-14</td>
			</tr>
			<tr>
				<td align="center">10001010</td>
				<td align="center"><span class="highlight">1000</span></td>	
				<td align="center">2017-08-14</td>
			</tr>
			<tr>
				<td align="center">10001010</td>
				<td align="center"><span class="highlight">1000</span></td>	
				<td align="center">2017-08-14</td>
			</tr>
		</tbody>
	</table>
</div>