<include file="Public:header" />
<!--网站设置-->
<div class="pad_lr_10">
	<form id="info_form" action="{:u('setting/edit')}" method="post">
	<table width="100%" class="table_form">
        <tr>
            <th width="150">版权所有 :</th>
            <td><input type="text" name="setting[site_name]" class="input-text" size="50" value="{:C('pin_site_name')}"></td>
        </tr>
        <tr>
            <th>{:L('site_name')}|{:L('seo_title')} :</th>
            <td><input type="text" name="setting[site_title]" class="input-text" size="50" value="{:C('pin_site_title')}"></td>
        </tr>
        <tr>
            <th>{:L('seo_keys')} :</th>
            <td><input type="text" name="setting[site_keyword]" class="input-text" size="50" value="{:C('pin_site_keyword')}"></td>
        </tr>
        <tr>
            <th>{:L('seo_desc')} :</th>
            <td><textarea rows="3" cols="50" name="setting[site_description]">{:C('pin_site_description')}</textarea></td>
        </tr>
        <tr>
            <th>{:L('site_icp')} :</th>
            <td><input type="text" name="setting[site_icp]" class="input-text" size="50" value="{:C('pin_site_icp')}"></td>
        </tr>
        <tr>
            <th>{:L('statistics_code')} :</th>
            <td><textarea rows="3" cols="50" name="setting[statistics_code]">{:C('pin_statistics_code')}</textarea></td>
        </tr>
		<tr>
            <th>网址 :</th>
            <td><input type="text" name="setting[site_url]" class="input-text" size="50" value="{:C('pin_site_url')}">不带http://</td>
        </tr>
		<tr>
            <th>邮箱 :</th>
            <td><input type="text" name="setting[email]" class="input-text" size="50" value="{:C('pin_email')}"></td>
        </tr>
		<tr>
            <th>电话 :</th>
            <td><input type="text" name="setting[tel]" class="input-text" size="50" value="{:C('pin_tel')}"></td>
        </tr>
		<tr>
            <th>手机 :</th>
            <td><input type="text" name="setting[mobile]" class="input-text" size="50" value="{:C('pin_mobile')}"></td>
        </tr>
		<tr>
            <th>QQ :</th>
            <td><input type="text" name="setting[qq]" class="input-text" size="50" value="{:C('pin_qq')}"></td>
        </tr>
        <tr>
            <th>QQ群 :</th>
            <td><input type="text" name="setting[qq_group]" class="input-text" size="50" value="{:C('pin_qq_group')}"></td>
        </tr>
        
          <tr>
            <th>备注消息 :</th>
            <td><input type="text" name="setting[beizhu]" class="input-text" size="50" value="{:C(pin_beizhu)}"></td>
        </tr>
        
        
        <tr>
            <th>店铺类型 :</th>
            <td><input type="text" name="setting[shoptype]" class="input-text" size="50" value="{:C('pin_shoptype')}"></td>
        </tr>
        <tr>
            <th>营业时间 :</th>
            <td><input type="text" name="setting[work_time]" class="input-text" size="10" value="{:C('pin_work_time')}"> 使用英文冒号隔开</td>
        </tr>
         <tr>
            <th>店长提成率 :</th>
            <td><input type="text" name="setting[d_ti]" class="input-text" size="5" value="{:C('pin_d_ti')}">       
            </td>
        </tr>
         <tr>
            <th>业务员提成率 :</th>
            <td><input type="text" name="setting[y_di]" class="input-text" size="5" value="{:C('pin_y_di')}">       
            </td>
        </tr>
		<tr>
            <th>地址 :</th>
            <td><input type="text" name="setting[address]" class="input-text" size="50" value="{:C('pin_address')}"></td>
        </tr>
        <tr>
            <th>签到积分下线值  :</th>
            <td><input type="text" name="setting[min_integral]" class="input-text" size="10" value="{:C('pin_min_integral')}"></td>
        </tr>
         <tr>
            <th>签到积分上线值  :</th>
            <td><input type="text" name="setting[max_integral]" class="input-text" size="10" value="{:C('pin_max_integral')}"</td>
        </tr>
         <tr>
            <th>消费送积分比例  :</th>
            <td><input type="text" name="setting[integralbili]" class="input-text" size="4" value="{:C('pin_integralbili')}">%</td>
        </tr>
         <tr>
            <th>商城价与标准价比例  :</th>
            <td><input type="text" name="setting[price_bili]" class="input-text" size="4" value="{:C('pin_price_bili')}">%</td>
        </tr>
        <tr>
            <th>免费配送距离 :</th>
            <td><input type="text" name="setting[distance]" class="input-text" size="10" value="{:C('pin_distance')}"> 公里</td>
        </tr>
        <tr>
            <th>一般收费配送距离 :</th>
            <td><input type="text" name="setting[commonly_distance]" class="input-text" size="10" value="{:C('pin_commonly_distance')}"> 公里</td>
        </tr>
         <tr>
            <th>一般配送距离满免配送费:</th>
            <td><input type="text" name="setting[is_qb]" class="input-text" size="4" value="{:C('pin_is_qb')}"> 元</td>
        </tr>
        <tr>
            <th>一般配送距离收费:</th>
            <td><input type="text" name="setting[freight]" class="input-text" size="4" value="{:C('pin_freight')}"> 元</td>
        </tr>
        <tr>
            <th>远距离配送每公里收费 :</th>
            <td><input type="text" name="setting[far_distance]" class="input-text" size="4" value="{:C('pin_far_distance')}"> 元</td>
        </tr>
        <tr>
            <th>免费配送距离配送时间 :</th>
            <td><input type="text" name="setting[delivery_time]" class="input-text" size="10" value="{:C('pin_delivery_time')}"> 秒</td>
        </tr>
        <tr>
            <th>一般距离每公里配送时间 :</th>
            <td><input type="text" name="setting[exceed_delivery_time]" class="input-text" size="10" value="{:C('pin_exceed_delivery_time')}"> 秒</td>
        </tr>
        <tr>
            <th>配送区域 :</th>
            <td><textarea rows="4" cols="50" name="setting[area]">{:C('pin_area')}</textarea>
            </td>
        </tr>
        <tr>
            <th>客服热线  :</th>
            <td><input type="text" name="setting[customer]" class="input-text" size="50" value="{:C('pin_customer')}"></td>
        </tr>
       <!-- <tr>
            <th>热门搜索1 :</th>
            <td><input type="text" name="setting[hot_keyword1]" class="input-text" size="50" value="{:C('pin_hot_keyword1')}"></td>
        </tr>
        <tr>
            <th>热门搜索2 :</th>
            <td><input type="text" name="setting[hot_keyword2]" class="input-text" size="50" value="{:C('pin_hot_keyword2')}"></td>
        </tr>
        <tr>
            <th>热门搜索3 :</th>
            <td><input type="text" name="setting[hot_keyword3]" class="input-text" size="50" value="{:C('pin_hot_keyword3')}"></td>
        </tr>
        <tr>
            <th>热门搜索4 :</th>
            <td><input type="text" name="setting[hot_keyword4]" class="input-text" size="50" value="{:C('pin_hot_keyword4')}"></td>
        </tr>
        <tr>
            <th>热门搜索5 :</th>
            <td><input type="text" name="setting[hot_keyword5]" class="input-text" size="50" value="{:C('pin_hot_keyword5')}"></td>
        </tr>-->
        <!--<tr>
            <th>刷客咨询QQ :</th>
            <td><input type="text" name="setting[qq1]" class="input-text" size="50" value="{:C('pin_qq1')}"></td>
        </tr>
        <tr>
            <th>商家咨询QQ :</th>
            <td><input type="text" name="setting[qq2]" class="input-text" size="50" value="{:C('pin_qq2')}"></td>
        </tr>
        <tr>
            <th>审核客服QQ :</th>
            <td><input type="text" name="setting[qq3]" class="input-text" size="50" value="{:C('pin_qq3')}"></td>
        </tr>
        <tr>
            <th>投诉建议QQ :</th>
            <td><input type="text" name="setting[qq4]" class="input-text" size="50" value="{:C('pin_qq4')}"></td>
        </tr>-->
    	<tr>
        	<th>{:L('site_status')} :</th>
        	<td>
            	<label><input type="radio" class="J_change_status" <if condition="C('pin_site_status') eq '1'">checked="checked"</if> value="1" name="setting[site_status]"> {:L('open')}</label> &nbsp;&nbsp;
                <label><input type="radio" class="J_change_status" <if condition="C('pin_site_status') eq '0'">checked="checked"</if> value="0" name="setting[site_status]"> {:L('close')}</label>
            </td>
    	</tr>
        <tr id="J_closed_reason" <if condition="C('pin_site_status') eq 1">class="hidden"</if>>
        	<th>{:L('closed_reason')} :</th>
        	<td><textarea rows="4" cols="50" name="setting[closed_reason]" id="closed_reason">{:C('pin_closed_reason')}</textarea></td>
    	</tr>
        <tr>
        	<th></th>
        	<td><input type="hidden" name="menuid"  value="{$menuid}"/><input type="submit" class="btn btn_submit" value="{:L('submit')}"/></td>
    	</tr>
	</table>
	</form>
</div>
<include file="Public:footer" />
<script>
$(function(){
    $('.J_change_status').live('click', function(){
        if($(this).val() == '0'){
            $('#J_closed_reason').fadeIn();
        }else{
            $('#J_closed_reason').fadeOut();
        }
    });
});
</script>
</body>
</html>