<style>
	.sTable2 thead tr td,
	.sTable2 tbody tr td {
		padding: 3px;
	}
	.progress_pagination .current{color: #069;}
	.progress_pagination a{margin-right:5px;}
</style>
<table width="100%" class="sTable2" id="followlist" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td width="150">跟进日期</td>
			<td width="50">跟进人</td>
			<td>跟进内容</td>
		</tr>
	</thead>
	<tbody class="progress_content">
		<if condition="$list">
		<volist name="list" id="val">
		<tr>
			<td>{$val.add_time|date='Y-m-d H:i:s',###}</td>
			<td><?php echo M('admin')->where(array('id'=>$val['creator_id']))->getField('username');?></td>
			<td style="word-break:break-all;">{$val.content}</td>
		</tr>
		</volist>
		<else />
		<tr>
			<td colspan="3">暂无跟进记录</td>
		</tr>
		</if>
	</tbody>
</table>
<table width="10%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td height="10"></td>
		</tr>
	</tbody>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<div class="progress_pagination">
					{$page}
				</div>
		</tr>
	</tbody>
</table>
<table width="10%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td height="10"></td>
		</tr>
	</tbody>
</table>
