<!--编辑会员-->
<div class="dialog_content">
	<form id="info_form" action="{:u('member/edit')}" method="post">
	<table width="100%" class="table_form">
        <if condition="$info['invite_id']">
            <tr>
                <th width="100">邀请人 :</th>
                <td>{$nickname['nickname']|default=$nickname['mobile']}</td>
            </tr>
        </if>
		<!--<tr>
				<th width="120">级别 :</th>
                <td><select class="" name="vips">
                	<option value="0" <if condition="$info['vips'] eq 0" >selected</if>>普通会员</option>
                	<option value="1" <if condition="$info['vips'] eq 1" >selected</if>>vip会员</option>
                	<option value="2" <if condition="$info['vips'] eq 2" >selected</if>>银卡会员</option>
                	<option value="3" <if condition="$info['vips'] eq 3" >selected</if>>金卡会员</option>
                	<option value="4" <if condition="$info['vips'] eq 4" >selected</if>>白金卡会员</option>
                	<option value="5" <if condition="$info['vips'] eq 5" >selected</if>>钻石卡会员</option>
                </select>
		</tr>-->
		<tr>
			<th width="100">用户名称 :</th>
			<td><input type="text" name="nickname" id="nickname" class="input-text fl mr10" size="30" value="{$info.nickname}"></td>
		</tr>
	    <tr>
			<th>会员头像 :</th>
			<td>
            	<input type="text" name="avatar" id="J_img" class="input-text fl mr10" size="30" value="{$info.avatar}">
            	<div id="J_upload_img" class="upload_btn"><span>{:L('upload')}</span></div>
                <img id="avatar" src="{$info['avatar']}" width='50' height='50'/>
				<notempty name="info['avatar']"><span class="attachment_icon J_attachment_icon" file-type="image" file-rel="{:attach($info['avatar'])}"><img src="__STATIC__/images/filetype/image_s.gif" /></span></notempty>
            </td>
		</tr>
        <tr>
            <th>手机号码 :</th>
            <td><input type="text" name="mobile" id="mobile" class="input-text" value="{$info.mobile}" size="30"></td>
        </tr>

        <tr>
            <th>余额 :</th>
            <td><input type="text" name="balance" id="balance" class="input-text" value="{$info.balance}" size="30"></td>
        </tr>
        
        <tr>
			<th>新密码 :</th>
			<td><input type="password" name="password" class="input-text" size="30">
            <!--<label class="gray">&nbsp;&nbsp;不修改则留空</label>-->
            </td>
		</tr>
	    <tr>
			<th>{:L('enabled')} :</th>
			<td>
				<label><input type="radio" name="status" value="1" <if condition="$info.status eq 1">checked</if>> {:L('yes')}</label>&nbsp;&nbsp;
				<label><input type="radio" name="status" value="0" <if condition="$info.status eq 0">checked</if>> {:L('no')}</label>
			</td>
		</tr>
	</table>
	<input type="hidden" name="id" value="{$info.id}" />  
	</form>
</div>
<script src="__STATIC__/js/fileuploader.js"></script>
<script>
$(function(){
	var check_name_url = "{:U('member/ajax_check_val', array('id'=>$info['id']))}";
	$.formValidator.initConfig({formid:"info_form",autotip:true});
    $("#mobile").formValidator({onshow:'请填写手机号码',onfocus:'请填写手机号码'}).inputValidator({min:1,onerror:'请填写手机号码'}).ajaxValidator({
        type : "get",
        url : check_name_url,
        datatype : "json",
        async:'false',
        success : function(result){
            if(result.status == 0){
                return false;
            }else{
                return true;
            }
        },
        onerror : '手机号码已经存在',
        onwait : '正在检测'
    }).defaultPassed();
	
	$('#info_form').ajaxForm({success:complate,dataType:'json'});
	function complate(result){
		if(result.status == 1){
			$.dialog.get(result.dialog).close();
            $.pinphp.tip({content:result.msg});
            window.location.reload();
		} else {
			$.pinphp.tip({content:result.msg, icon:'alert'});
		}
	}
	
	//上传图片
    var uploader = new qq.FileUploaderBasic({
    	allowedExtensions: ['jpg','gif','jpeg','png','bmp','pdg'],
        button: document.getElementById('J_upload_img'),
        multiple: false,
        action: "{:U('member/ajax_upload_imgs',array('member_id'=>$info['id']))}",
        inputName: 'avatar',
        forceMultipart: true, //用$_FILES
        messages: {
        	typeError: lang.upload_type_error,
        	sizeError: lang.upload_size_error,
        	minSizeError: lang.upload_minsize_error,
        	emptyError: lang.upload_empty_error,
        	noFilesError: lang.upload_nofile_error,
        	onLeave: lang.upload_onLeave
        },
        showMessage: function(message){
        	$.pinphp.tip({content:message, icon:'error'});
        },
        onSubmit: function(id, fileName){
        	$('#J_upload_img').addClass('btn_disabled').find('span').text(lang.uploading);
        },
        onComplete: function(id, fileName, result){
        	$('#J_upload_img').removeClass('btn_disabled').find('span').text(lang.upload);
            if(result.status == '1'){
        		$('#J_img').val(result.data);
                $('#avatar').attr('src',result.data);
        	} else {
        		$.pinphp.tip({content:result.msg, icon:'error'});
        	}
        }
    });
});
</script>