
<div class="dialog_content">
    <form id="info_form" name="info_form" action="{:u('bank/add')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th width="80">银行名称 :</th>
            <td><input type="text" name="bank_name" id="bank_name" class="input-text"></td>
        </tr>

        <tr>
            <th width="80">排序 :</th>
            <td><input type="text" name="ordid" id="ordid" class="input-text" value="100"></td>
        </tr>

        <tr>
            <th>{:L('enabled')} :</th>
            <td>
                <input type="radio" name="status" class="radio_style" value="1" checked="checked"> &nbsp;{:L('yes')}&nbsp;&nbsp;&nbsp;
                <input type="radio" name="status" class="radio_style" value="0"> &nbsp;{:L('no')}
            </td>
        </tr>
    </table>
    </form>
</div>

<script>
    $(function(){

        $('#info_form').ajaxForm({success:complate,dataType:'json'});
        function complate(result){
            if(result.status == 1){
                $.dialog.get(result.dialog).close();
                $.pinphp.tip({content:result.msg});
                window.location.reload();
            } else {
                $.pinphp.tip({content:result.msg, icon:'alert'});
            }
        }
    });
</script>
