<include file="Public:header" />
<!--文章列表-->

<div class="pad_lr_10" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
        <tr>
            <td>
    <form name="searchform" method="get" >
            <div class="explain_col">
                <input type="hidden" name="m" value="admin" />
                <input type="hidden" name="c" value="coupons" />
                <input type="hidden" name="a" value="index" />
                <input type="hidden" name="menuid" value="{$menuid}" />
                &nbsp;&nbsp;名称 :
                <input name="title" type="text" class="input-text" size="20" value="{$search.title}" />
                                &nbsp;&nbsp;面值:
                <input name="amount" type="text" class="input-text" size="8" value="{$search.amount}" />
                            
               有效时间： <input type="text" name="start_time" id="time_start" class="date" size="15" value="{$search.start_time}">
                -
                <input type="text" name="end_time" id="time_end" class="date" size="15" value="{$search.end_time}">
                <input type="submit" name="search" class="btn" value="{:L('search')}" />
            </div>
       </form>     
        
       <form name="searchform" method="post" action="{:U('Coupons/add',array(menuid=>$menuid))}" > 
         <div class="explain_col">
    优惠券名称：<input type="text" name="title" class="input-text" size="12" value="">
    &emsp;&emsp; 优惠券金额：<input type="text" name="amount" class="input-text" size="8" value="">元
    &emsp;&emsp;发放数量：<input type="text" name="number" class="input-text" size="6" value="">张
    &emsp;&emsp; 满<input type="text" name="full" class="input-text" size="8" value=""> 可使用
    &emsp;&emsp;有效时间： <input type="text" name="start_time" id="start" class="date" size="15">
                -
                <input type="text" name="end_time" id="end" class="date" size="15" >
    &emsp;&emsp;<input type="submit" name="submit"  class="btn" value="优惠券生成" />
		</div>
    </form>
      
            </td>
        </tr>
        </tbody>
    </table>

    <div class="J_tablelist table_list" data-acturi="{:U('coupons/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width=25><input type="checkbox" id="checkall_t" class="J_checkall"></th>
                <th width="30">序号</th>
                <!--<th><span data-tdtype="order_by" data-field="id">ID</span></th>-->
                <th align="left"><span data-tdtype="order_by" data-field="title">优惠券名称</span></th>
                <th align="left"><span data-tdtype="order_by" data-field="price">面值</span></th>
                <th align="left"><span data-tdtype="order_by" data-field="minprice">最低消费</span></th>
                <th align="left"><span data-tdtype="order_by" data-field="price">发放总数</span></th>
                <th align="left"><span data-tdtype="order_by" data-field="price">剩余数量</span></th>
                
				<th width=150><span data-tdtype="order_by" data-field="endtime">到期时间</span></th>
                <th width="80">{:L('operations_manage')}</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                <td align="center">{$p*20-20+$i}</td>
                <!--<td align="center">{$val.id}</td>-->
                <td align="center"><span data-tdtype="edit" data-field="title" data-id="{$val.id}" class="tdedit" style="color:{$val.colors};">{$val.title}</span><notempty name="val['img']"><span class="attachment_icon J_attachment_icon" file-type="image" file-rel="{:attach($val["img"],'coupon')}"><img src="__PUBLIC_ADMIN__images/filetype/image_s.gif" /></span></notempty></td>
              
                <td align="center"><span data-tdtype="edit" data-field="amount" data-id="{$val.id}" class="tdedit">{$val.amount}</span></td>
                <td align="center"><span data-tdtype="edit" data-field="full" data-id="{$val.id}" class="tdedit">{$val.full}</span></td>
                <td align="center">{$val['number']}</td>
                <td align="center"><span data-tdtype="edit" data-field="residue_number" data-id="{$val.id}" class="tdedit">{$val['residue_number']}</span></td>
                
                <td align="center"><span data-tdtype="edit" data-field="end_time" data-id="{$val.id}" class="tdedit">{$val.end_time|date='Y-m-d',###}</span></td>
                <td align="center">
                  <if condition="$val.id neq 1">
                    <a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:u('coupons/del', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['title'])}">{:L('delete')}</a>
                  </if>
                    </td>
            </tr>
            </volist>
        </tbody>
    </table>
    <div class="songkebor">
        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('coupon/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
    </div>
</div>
<include file="Public:footer" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__js/calendar/calendar-blue.css"/>
<script src="__PUBLIC_ADMIN__js/calendar/calendar.js"></script>

<script>
$('.J_cate_select').cate_select({top_option:lang.all});
Calendar.setup({
    inputField : "time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});

Calendar.setup({
    inputField : "time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});

Calendar.setup({
    inputField : "end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
</script>
</body>
</html>

