<style>
	.link a{margin-right:5px;}
	.link .current{color:red;}
</style>
<div class="messagelist">
	<ul>
		<volist name="list" id="val">
			<li class="current" data-id="{$val.id}" data-name="{$val.cutaname}" style="color:;cursor:pointer;">
			{$val.cutaname}
			</li>

		</volist>
		

	</ul>
	<div class="link">
			<!--<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(9);">首页</a>&nbsp;&nbsp;<<< 
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(9);">[1]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(2);">[2]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(3);">[3]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(4);">[4]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(5);">[5]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(6);">[6]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(7);">[7]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(8);">[8]</a>&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(9);">[9]</a>&nbsp;&nbsp;&gt;&gt;&gt;&nbsp;&nbsp;
			<a href="javascript:ajaxPage2ee878449bb7ca5b084538f55a00cbfc(9);">末页</a>-->
			{$page}
	</div>
</div>