<!--编辑角色-->
<div class="dialog_content">
	<form id="info_form" name="info_form" action="{:u('envelope/edit')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th width="80">标题 :</th>
            <td><input type="text" name="title" id="title" class="input-text" size="50" value="{$info.title}"></td>
        </tr>
        <tr>
            <th width="80">金额 :</th>
            <td><input type="text" name="amount" id="amount" class="input-text" value="{$info.amount}">元</td>
        </tr>
        <tr>
            <th width="80">备注 :</th>
            <td><textarea name="remark" id="remark" style="width:67%;height:50px;resize:none;">{$info.remark}</textarea></td>
        </tr>
        <tr>
            <th>{:L('enabled')} :</th>
            <td>
                <input type="radio" name="status" class="radio_style" value="1" <if condition="$info.status eq 1"> checked="checked"</if>> &nbsp;{:L('yes')}&nbsp;&nbsp;&nbsp;
                <input type="radio" name="status" class="radio_style" value="0" <if condition="$info.status eq 0"> checked="checked"</if>> &nbsp;{:L('no')}
            </td>
        </tr>
    </table>
    <input type="hidden" name="id" id="id" value="{$info.id}" />
    </form>
</div>
<script src="__PUBLIC_ADMIN__js/fileuploader.js"></script>
<script>
$(function(){
    $.formValidator.initConfig({formid:"info_form",autotip:true});
    $("#name").formValidator({ onshow:lang.please_input+lang.role_name, onfocus:lang.please_input+lang.role_name, oncorrect:lang.input_right}).inputValidator({ min:1, onerror:lang.please_input+lang.role_name}).defaultPassed();

    $('#info_form').ajaxForm({success:complate,dataType:'json'});
    function complate(result){
        if(result.status == 1){
            $.dialog.get(result.dialog).close();
            $.pinphp.tip({content:result.msg});
            window.location.reload();
        } else {
            $.pinphp.tip({content:result.msg, icon:'alert'});
        }
    }
})
</script>