<include file="Public:header" />
<!--文章列表-->

<div class="pad_lr_10" >
    <form name="searchform" method="get" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
        <tr>
            <td>
            <div class="explain_col">
                <input type="hidden" name="m" value="admin" />
                <input type="hidden" name="c" value="Inventory" />
                <input type="hidden" name="a" value="g_index" />
                <input type="hidden" name="menuid" value="{$menuid}" />
                {:L('publish_time')}：
                <input type="text" name="time_start" id="time_start" class="date" size="12" value="{$search.time_start}">
                -
                <input type="text" name="time_end" id="time_end" class="date" size="12" value="{$search.time_end}">
                &nbsp;&nbsp;{:L('article_cateid')}：
                <select class="J_cate_select mr10" data-pid="0" data-uri="{:U('item_cate/ajax_getchilds')}" data-selected="{$search.selected_ids}"></select>
                <input type="hidden" name="cate_id" id="J_cate_id" value="{$search.cate_id}" />
                <!--&nbsp;&nbsp;{:L('status')}:
                <select name="status">
                <option value="">-{:L('all')}-</option>
                <option value="1" <if condition="$search.status eq '1'">selected="selected"</if>>已审核</option>
                <option value="0" <if condition="$search.status eq '0'">selected="selected"</if>>未审核</option>
                </select>
                &nbsp;&nbsp;商品ID :
                <input name="item_id" type="text" class="input-text" size="25" value="{$search.item_id}" />-->
                &nbsp;&nbsp;商品名 :
                <input name="keyword" type="text" class="input-text" size="25" value="{$search.keyword}" />
                <input type="submit" name="search" class="btn" value="{:L('search')}" />  
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
    
    <div class="explain_col">  
	     <!--<form id="addform" action="{:U('Inventory/upload')}" method="post" enctype="multipart/form-data">
	        <input style=" width:65px;" type="file" name="excelData" value=""  datatype="*4-50" />
	        <input type="submit" class="btn btn-primary Sub" value="导入" />-->
	    	<a href="{:U('Inventory/g_index_d',array('time_start'=>$search['time_start'],'time_end'=>$search['time_end'],'keyword'=>$search['keyword'],'cate_id'=>$search['cate_id']))}" class="btn btn-primary Sub" >导出</a>
	     <!--</form>-->
    </div>
    
    <div class="explain_col">  
	    采购金额：<input class="input-text" value="{$data[0]}"/>
	    &nbsp;&nbsp;出库金额：<input class="input-text" value="{$data[1]}"/>
        &nbsp;&nbsp;损耗金额：<input class="input-text" value="{$data[2]}"/>
    </div>

    <div class="J_tablelist table_list" data-acturi="{:U('Inventory/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <!--<th width=25><input type="checkbox" id="checkall_t" class="J_checkall"></th>-->
                <th width="30">序号</th>
                <th align="left">商品编号</th>
                <th align="left"><span data-tdtype="order_by" data-field="title">商品名</span></th>
                <th>单位</th>
                <th>分类</th>
                <th>采购数量</th>
                <th>采购金额</th>
                <th>入库数量</th>
                <th>出库数量</th>
                <th>出库金额</th>
                <!--<th>库存数量</th>-->
                <th>分拣损耗</th>
                <th>损耗</th>
                <th>损耗金额</th>
                <th>损耗率</th>
                <!--<th width=150>{:L('author')}</th>
				<th width=150><span data-tdtype="order_by" data-field="add_time">{:L('publish_time')}</span></th>
                <th width=60><span data-tdtype="order_by" data-field="ordid">{:L('sort_order')}</span></th>
                <th width="40"><span data-tdtype="order_by" data-field="status">{:L('status')}</span></th>
                <th width="80">{:L('operations_manage')}</th>-->
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <!--<td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>-->
                <td align="center">{$p*20-20+$i}</td>
                <td align="center">{$product_id[$val['item_id']]}</td>
                <!--<td align="left"><span data-tdtype="edit" data-field="title" data-id="{$val.id}" class="tdedit" style="color:{$val.colors};">{$val.title}</span></td>-->
              	<td align="center">{:jie_string($title[$val['item_id']])}</td>
                <td align="center"><b>{$unit[$val['item_id']] |unit_type=###}</b></td>
				<td align="center"><b>{$classification[$val['item_id']]}</b></td>
                <td align="center">{$val.purchase}</td>
                <td align="center">{$val['g_price']}</td>
                <td align="center">{$val.ruku}</td>
                <td align="center">{$val.chuku}</td>
                <td align="center">{$val['c_price']}</td>
                <!--<td align="center">{$val.kucun}</td>-->
                <td align="center">{$val.f_sunhao}</td>
                <td align="center">{$val.sunhao}</td>
                <td align="center">{$val.sunhao_j}</td>
                <td align="center">{$val['sunhao_l']}%</td>
                <!--<td align="center"><span data-tdtype="edit" data-field="ordid" data-id="{$val.id}" class="tdedit">{$val.ordid}</span></td>
                <td align="center"><img data-tdtype="toggle" data-id="{$val.id}" data-field="status" data-value="{$val.status}" src="__PUBLIC_ADMIN__images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" /></td>
                <td align="center">
                	<a href="{:u('Inventory/edit', array('id'=>$val['id'], 'menuid'=>$menuid))}">{:L('edit')}</a> | 
                	<a href="{:u('Inventory/journal', array('id'=>$val['id'], 'menuid'=>$menuid))}">日志</a> |
                	<a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:u('Inventory/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['title'])}">{:L('delete')}</a></td>-->
            </tr>
            </volist>
        </tbody>
    </table>

    <div class="btn_wrap_fixed">
        <!--<label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Inventory/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />-->
        <div id="pages">{$page}</div>
    </div>

    </div>
</div>
<include file="Public:footer" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__js/calendar/calendar-blue.css"/>
<script src="__PUBLIC_ADMIN__js/calendar/calendar.js"></script>
<script>
$('.J_cate_select').cate_select({top_option:lang.all});
Calendar.setup({
    inputField : "time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
</script>
</body>
</html>
