<include file="Public:header" />

<style>
	body{
		background:white;
	}
</style>

	
    <div class="left">
        <a href="javascript:;" class="reloadButton" onclick="parent.refresh_page();">刷新</a>
        <if condition="$type neq 1">
         <a href="javascript:;" style="color:#fff;" class="addNewButton" id="exportCustomer">导出客户</a>
        
        
        <a  href="javascript:;"  style="color:#fff;" id="newCustomer"   class="J_showdialog  addNewButton"  data-uri="/jradmin.php?m=Admin&amp;c=custom&amp;a=add&amp;id=468" data-title="新增客户" data-id="add" data-width="900" data-height="500"  id="newCustomer">新增客户</a>
        
        
        <a href="javascript:;"  style="color:#fff;"  class="dialog_open  addNewButton"   data-uri="/jradmin.php?m=Admin&amp;c=custom&amp;a=import&amp;id=468" data-title="导入客户" data-id="import" data-width="480" data-height="365"  id="newCustomer">导入客户</a>
       	
        </if>
        
        <ul class="submenu">
        	<li class="current" dataid="0"><a href="javascript:;">全部 (70)</a></li>
            
            <li dataid="58"><a href="javascript:;">已合作 (18)</a></li>
            
            <li dataid="59"><a href="javascript:;">待确定合同 (19)</a></li>
            
            <li dataid="60"><a href="javascript:;">有意向，跟进中 (19)</a></li>
            
            <li dataid="61"><a href="javascript:;">暂缓 (4)</a></li>
            
            <li dataid="62"><a href="javascript:;">不考虑 (2)</a></li>
            
            <li dataid="-1"><a href="javascript:;">已删除 (13)</a></li>
        </ul>

        <div class="sTableOptions">
        	<div class="searchform form_default">
            	<form id="searchFrom">
            	<input type="hidden" value="0" name="state" id="customerState">
            	<input type="hidden" value="" name="ispublic" id="ispublic">
            	关键字：<input type="text" name="keyword" id="customerSearchKeyword" class="sf" style="width:180px;">
            	<select name="contractState" id="contractState">
                  <option value="0">合同状态</option>
                  <option value="1">已审核</option>
                  <option value="2">待审核</option>
                  <option value="3">已过期</option>
                  <option value="4">已作废</option>
                  <option value="5">无合同</option>
                  <option value="6">有合同待审核</option>
                </select>
                <a href="javascript:;" style="margin:10px 10px 0 0;" id="keyHelp" original-title="与该企业的合同状态：<br></a><span class='contract_green'>已审核：</span>合同已审核，且在有效期内<br/><span class='contract_red'>待审核：</span>合同已添加，但未审核<br/><span class='contract_brown'>已过期：</span>合同已审核，但已过期<br/><span class='contract_gray'>已作废：</span>合同已作废<br/><span style='color:#ff0;'>无合同：</span>从未签署过合同<br/><span style='color:#f0f;'>有合同待审核：</span>有未审核的合同<br/>"><img src="../../images/help.gif"></a>
                <select name="province" id="province">
                  <option value="0">所在省</option>
                  
                  <option value="95">北京</option>
                  
                  <option value="96">上海</option>
                  
                  <option value="97">天津</option>
                  
                  <option value="98">重庆</option>
                  
                  <option value="99">安徽</option>
                  
                  <option value="100">福建</option>
                  
                  <option value="101">甘肃</option>
                  
                  <option value="102">广东</option>
                  
                  <option value="103">广西</option>
                  
                  <option value="104">贵州</option>
                  
                  <option value="105">海南</option>
                  
                  <option value="106">河北</option>
                  
                  <option value="107">黑龙江</option>
                  
                  <option value="108">河南</option>
                  
                  <option value="109">湖北</option>
                  
                  <option value="110">湖南</option>
                  
                  <option value="111">江苏</option>
                  
                  <option value="112">江西</option>
                  
                  <option value="113">吉林</option>
                  
                  <option value="114">辽宁</option>
                  
                  <option value="115">宁夏</option>
                  
                  <option value="116">青海</option>
                  
                  <option value="117">山东</option>
                  
                  <option value="118">山西</option>
                  
                  <option value="119">陕西</option>
                  
                  <option value="120">四川</option>
                  
                  <option value="121">云南</option>
                  
                  <option value="122">浙江</option>
                  
                  <option value="123">新疆</option>
                  
                  <option value="124">内蒙古</option>
                  
                  <option value="125">西藏</option>
                  
                  <option value="129">国外</option>
                  
                </select>
                <select name="city" id="city" style="display:none">
                  <option value="0">所在城市</option>
                </select>
                <select name="type" id="type">
                  <option value="0">客户类型</option>
                  
                  <option value="14">重点客户</option>
                  
                  <option value="15">一般客户222</option>
                  
                  <option value="31">潜在客户</option>
                  
                  <option value="978">同行合作客户</option>
                  
                  <option value="2791">个人客户</option>
                  
                  <option value="2841">私人客户</option>
                  
                  <option value="2842">企业客户</option>
                  
                </select>
                <select name="industry" id="industry">
                  <option value="0">所属行业</option>
                  
                  <option value="52">消费品</option>
                  
                  <option value="53">医疗健康</option>
                  
                  <option value="54">其他</option>
                  
                  <option value="2828">也一样</option>
                  
                  <option value="2849">个</option>
                  
                  <option value="2850">IT/互联网</option>
                  
                  <option value="2878">金融</option>
                  
                  <option value="2881">电力</option>
                  
                </select>
                <select name="important" id="important">
                  <option value="0">重要程度</option>
                  
                  <option value="40">很重要</option>
                  
                  <option value="41">一般</option>
                  
                  <option value="42">十万火急</option>
                  
                  <option value="2851">55</option>
                  
                </select>
                <select name="sort" id="sort">
                  <option value="0">默认排序</option>
                  <option value="1">按跟进时间排序</option>
                </select>
                <input type="button" id="searchFromBtn" class="button button_red" value=" 查询 ">
                </form>
            </div>
            <div class="pp">
		        
		        <a class="button series_delete delete"   data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('custom/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" ><span>{:L('delete')}</span></a>
        		 <a class="button recover" style="display:none;"><span>恢复</span></a>
		        
		    </div>
		</div><!--sTableOptions-->
        <div id="listpage">



<form id="listFrom">
<table width="100%" class="sTable2" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td align="center" width="50"><input type="checkbox" class="J_checkall checkall"></td>
            <td style="min-width:200px;">客户名称</td>
            <td width="80">有合同待审核</td>
            <td width="120">所在地区</td>
            <td width="60">客户类型</td>
            <td width="200">所属行业</td>
            <td width="60">重要程度</td>
            <td width="80">合同有效期</td>
            <td width="100">客户漏斗</td>
            <td width="150">创建时间</td>
    	</tr>
    </thead>
    <tbody>
        <volist name="list" id="val">
        <tr>
            <td align="center"><input type="checkbox" class="J_checkitem" <if condition="in_array($val['id'],$resu)">checked</if> value="{$val.id}"></td>
            <td>
            <a  href="javascript:;" style="cursor:pointer;color:#069;" class="dialog_detail"  data-uri="{:U('custom/detail', array('id'=>$val['id']))}" data-title="{$val.cutaname}" data-id="detail" data-width="900" data-height="500">{$val.cutaname}</a>
            <p style="color:#777;">这家伙说要等两天再签合同（管理员 2018-12-25 14:45）</p>
            </td>
            <td align="center" style="color:#00f;"></td>
            <td>广东&nbsp;&nbsp;深圳</td>
            <td>重点客户</td>
            <td>消费品</td>
            <td>很重要</td>
            <td>2018-11-30</td>
            <td>已合作</td>
            <td>{$val.add_time|date='Y-m-d H:i:s',###}</td>
       	</tr>
        </volist>
    </tbody>
</table>
</form>
<br clear="all">
<div class="pagination">
{$page}

<!--<input style="width:64px;height:32px;text-align:center;" type="text" id="pageInput-8b933f2295334144966413377e492600" value="1" size="5" style="height:20px;"><input type="button" class="button button_blue" id="pageBtn-8b933f2295334144966413377e492600" onclick="ajaxPage8b933f2295334144966413377e492600(document.getElementById('pageInput-8b933f2295334144966413377e492600').value);" style="height:30px;" value="跳转">共查询到<font color="#CC0000">70</font>条记录，每页显示<font color="#CC0000">12</font>条记录。</div></div>
    -->
    </div><!--left-->
    
<br clear="all">
<include file="Public:footer" />
</body>
</html>