<include file="Public:header" />

<!--栏目列表-->

<div class="pad_lr_10">

    <div class="J_tablelist table_list" data-acturi="{:U('item_cate/ajax_edit')}">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="J_cate_tree">



            <tr> 

                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>

                <th width="40"><span data-tdtype="order_by" data-field="id">ID</span></th>

                <th>景区名称</th>

                <th width="140">景区封面</th>

                <th width="80"><span data-tdtype="order_by" data-field="ordid">{:L('sort_order')}</span></th>

                <th width="80"><span data-tdtype="order_by" data-field="status">{:L('status')}</span></th>

                <th width="140">{:L('operations_manage')}</th>

            </tr>





            {$list}



        </table>
    </div>
    <div class="songkebor">

        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>

        <input type="button" class="btn btn_submit" data-tdtype="batch_action" data-acttype="ajax_form" data-id="move" data-uri="{:U('item_cate/move')}" data-name="id" data-title="{:L('item_cate_move')}" value="{:L('move')}" />

        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('item_cate/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />

    </div>

</div>

<include file="Public:footer" />

<script src="__STATIC__/js/jquery/plugins/jquery.treetable.js"></script>

<script>

    $(function(){

        //initialState:'expanded'

       // $("#J_cate_tree").treeTable({indent:20,treeColumn:2});

        $(".J_preview").preview();

    });

</script>
<!--查看大图-->
<div class="popup-win">
    <div class="popup-inner">
        <div class="vertical-auto popup-image"><img src=""></div>
        <div class="close-popup">×</div>
    </div>
</div>
<!--查看大图-->
<script>
//查看大图
$(function(){
	$(".check-image").click(function(){
		$(".popup-win").show();
		var img_src = $(this).attr("src");
		$(".vertical-auto img").attr("src",img_src);
	});
	
	$(".close-popup").click(function(){
		$(".popup-win").hide();
		return false;
	});
})
</script>
</body>

</html>